
 <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.nom}}"  name="nom">
      <label for="floatingInput">Nom</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.prenom}}"  name="prenom">
      <label for="floatingInput">Prenom</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.tel}}"  name="tel">
      <label for="floatingInput">Telephone</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.email}}"  name="email">
      <label for="floatingInput">Email</label>
    </div>
  </div>
  <div class="col-4">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.site}}"  name="site">
      <label for="floatingInput">Site</label>
    </div>
  </div>
  <div class="col-4">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.departement}}"  name="departement">
      <label for="floatingInput">Depatement</label>
    </div>
  </div>
  <div class="col-4">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.materiel}}"  name="materiel">
      <label for="floatingInput">Materiel</label>
    </div>
  </div>
  <div class="col-4">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.type}}"  name="type">
      <label for="floatingInput">Type</label>
    </div>
  </div>
  <div class="col-4">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.licence}}"  name="licence">
      <label for="floatingInput">Licence</label>
    </div>
  </div>
  <div class="col-4">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.status}}"  name="status">
      <label for="floatingInput">Status</label>
    </div>
  </div>
  
  
 
  
  <div class="col-3 d-grid">
    <button class="btn btn-primary " type="submit">Enregistrer</button>
  </div>
 