
{{#if removedUser}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  User has been removed.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}


<div class="row">
  <div class="col-6">
    <h1>Site</h1>
  </div>
  <div class="col-6 d-flex justify-content-end">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@fat">Nouvel Site</button>
 </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Nouvel Enregistrement </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="/ajoutsite">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Code site</label>
            <input type="text" name="code" placeholder="Entrez la reference" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Nom site</label>
            <input type="text" name="site" placeholder="Entrez le nom du materiel" class="form-control" id="recipient-name">
          </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
<br>
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Code site</th>
      <th scope="col">Nom site</th>
      <th scope="col" class="text-end">Action</th>
    </tr>
  </thead>
  <tbody>

    {{#each rows}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.code_site}}</td>
      <td>{{this.nom_site}}</td>
      <td class="text-end">
         <a href="/editsite/{{this.id}}" type="button" class="btn btn-primary btn-small" data-bs-toggle="modal" data-bs-target="#ModifSite{{this.id}}" data-bs-whatever="@fat"><i class="bi bi-pencil"></i>
          Edit</a>
        <a href="/listesites/{{this.id}}" type="button" class="btn btn-danger btn-small"><i class="bi bi-person-x"></i> Delete</a>
      </td>
    </tr>
    {{/each}}

  </tbody>
</table>
{{#each rows}}
<div class="modal fade" id="ModifSite{{this.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Nouvel Enregistrement </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="/Modif_Site/{{this.id}}">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Code site</label>
            <input type="text" name="code" placeholder="Entrez la reference " class="form-control" value="{{this.code_site}}" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Nom site</label>
            <input type="text" name="site" placeholder="Entrez le nom du materiel" value="{{this.nom_site}}" class="form-control" id="recipient-name">
          </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{/each}}